@(message: String)

@main("Play with Scala.js") {

  <h2>Play and Scala.js share a same message</h2>
  <ul>
    <li>Play shouts out: <em>@message</em></li>
    <li>Scala.js shouts out: <em id="scalajsShoutOut"></em></li>
  </ul>

  <form method="get" action="form">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="color">Color:</label><br>
    <input type="text" id="color" name="color"><br>
    <input type="submit">
  </form>

  <div id="root"></div>
}
